.modal-container {
  background-color: #00000071;
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 111.5rem;
  display: flex;
  justify-content: center;
}
.modal-content {
  width: 61rem;
  height: 53rem;
  background-color: var(--main-color);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 26rem;
  position: relative;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 1rem;
}

.modal-title {
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  padding: 3rem 0 1.5rem 0;
}

.custom-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.custom-form label {
  font-size: 2.2rem;
  font-weight: 500;
}

.custom-form input,
.custom-form select,
.custom-form option {
  width: 30rem;
  height: 3.5rem;
  border-radius: 0.7rem;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 200;
  font-family: monospace;
  padding: 0 1.5rem;
}

.modal-add-button {
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.7rem;
  font-size: 2rem;
  margin-top: 3rem;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  transition: transform 0.5s 0.1s ease-in-out;
}

.modal-add-button:hover {
  transform: scale(1.1);
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

.error-message h4 {
  position: absolute;
  font-size: 2rem;
  bottom: 0;
  right: 10%;
  left: 10%;
  color: rgb(163, 39, 39);
}

.message-icon {
  width: 4rem;
}
