@font-face {
  font-family: "OcraExt";
  src: local("OcraExt"),
    url("./presentation/assets/fonts/OCRAEXT.TTF") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Lekton";
  src: local("Lekton"),
    url("./presentation/assets/fonts/Lekton-Regular.ttf") format("truetype");
  font-weight: 400;
}

:root {
  --main-color: #ffe37e;
  --secondary-color: #d9d9d9;
  --third-color:#fff8dd ;

  --title-font: "OcraExt";
  --text-font: "Lekton";
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 62.5%;
  border: none;
}

body {
  min-height: 100vh;
  font-size: 7rem;
  font-family: var(--text-font), Arial, Helvetica, sans-serif;
  background-color: #000;
}

a {
  cursor: pointer;
}

a:visited {
  color: black;
}

input:focus {
  border: 1px solid black;
  outline:none;
}