.detail-bg{
  padding: 3rem 0 15rem 0;
  background: linear-gradient(
    0deg,
    rgba(255, 227, 126, 1) 0%,
    rgba(0, 0, 0, 1) 97%
  );
}

.detail-container {
  padding: 6rem 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  width: 105rem;
  margin: 0 auto;
  border-radius: 1rem;
}

.photo-container {
  width: 40rem;
  height: 40rem;
  overflow: hidden;
  border-radius: .7rem;
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.151);
}

.detail-photo {
  height: 40rem;
  transition: transform 2.2s 0.1s ease-in-out;
}

.detail-photo:hover {
  transform: scale(1.4);
}

.detail-info {
  width: 40rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.text-title {
  font-size: 5rem;
  font-weight: 200;
}

.text-description {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.2;
  text-align: justify;
}

.detail-price {
  font-size: 3rem;
  font-weight: 400;
  text-align: right;
}

.back-button {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  background-color: #000;
  color: #fff;
  width: 10rem;
  height: 3.5rem;
  border-radius: .7rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  cursor: pointer;
  transition: transform 0.5s 0.1s ease-in-out;
}

.back-button:hover {
  transform: scale(1.1);
}

.custom-button {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.5px;
  background-color: #fff;
  color: #000;
  border: solid 1px #000;
  width: 10rem;
  height: 3.5rem;
  border-radius: .7rem;
  cursor: pointer;
  position: absolute;
  bottom: 6rem;
  right: 0;
  padding: 0;
  transition: transform 0.5s 0.1s ease-in-out;
}

.custom-button:hover {
  transform: scale(1.1);
}

.loading {
  height: 70vh;
}